<div class="container">
  <p id="notice"><%# notice %></p>
  <h1>Hangouts in your Area</h1>
  <%= render 'form_filters'%>
  <div>
    <center> <h1>You have <%= pluralize(@meetups.count, "hangout") %> in your area.</h1> </center>
  </div>
</div>
<div class="container content-wrapper">
    <div class="container">
      <div class="row">
        <% @meetups.each do |meetup| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/cards", meetup: meetup %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="map-container">
        <div class = "map-details" id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
</div>
