<div class="example-2 card" style="background: url(<%= asset_url( meetup.game.image_link ) %>) center / cover no-repeat; border-radius: 4px;">
  <div class="wrapper">
    <div class="data">
      <div class="content">
        <h1 class="title"><a> <center> <%= meetup.title %> </center></p>
          <%= link_to "Read More", meetup_path(meetup), class: "button" %>
      </div>
    </div>
  </div>
</div>



