
  <%= link_to meetup_path(meetup), class: "card-margin" do %>

      <div class="wrapper" style="background: url(<%= asset_url( meetup.game.image_link ) %>) center / cover no-repeat; border-radius: 4px; width: 100%;">
        <div class="data">
          <div class="content">
            <!-- <h1 class="title"><a> <center> <%= meetup.title %> </center></p> -->
              <div class="title">
                <h1 class="button"> <%= meetup.title %> </h1>
                <h1 class="button"> Know More </h1>
              </div>
          </div>
        </div>
      </div>

  <% end %>

