<div class="example-2 card" style="background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center / cover no-repeat;">
  <div class="wrapper">
    <div class="data">
      <div class="content">
        <h1 class="title"><a> <center> <%= meetup.title %> </center></p>
          <%= link_to "Read More", meetup_path(meetup), class: "button" %>
      </div>
    </div>
  </div>
</div>



