<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<button type="button" class="btn btn-danger">Host a Session</button>


<!DOCTYPE html>
<html lang="en">
<head>
<title>Book a Meetup</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Event Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="bookingform/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
  <div class="center-container">
    <div class="main">
      <h1 class="w3layouts_head">Book a Meetup</h1>
        <div class="w3layouts_main_grid">
          <form action="#" method="post" class="w3_form_post">
            <div class="w3_agileits_main_grid w3l_main_grid">
              <span class="agileits_grid">
                <label>Your Name </label>
                <input type="text" name="Task" placeholder="Your Name" required="">
              </span>
            </div>
            <div class="w3_agileits_main_grid w3l_main_grid">
              <span class="agileits_grid">
                <label>Your Email </label>
                <input type="text" name="Task" placeholder="Your Email" required="">
              </span>
            </div>
            <div class="w3_agileits_main_grid w3l_main_grid">
              <span class="agileits_grid">
                <label>Phone Number </label>
                <input type="text" name="Task" placeholder="Phone Number" required="">
                </span>
            </div>
            <div class="w3_agileits_main_grid w3l_main_grid">
              <span class="agileits_grid">
                <label>Number of Guests</label>
                <select name="country">
                  <option value="none" selected="" disabled="">Select numbers</option>
                  <option value="Ph">1</option>
                  <option value="Po">2</option>
                  <option value="So">3</option>
                  <option value="Sp">4</option>
                  <option value="Sw">5</option>
                </select>
              </span>
            </div>
            <div class="agileits_w3layouts_main_grid w3ls_main_grid">
              <span class="agileinfo_grid">
                <label>Date / Time </label>
                <div class="agileits_w3layouts_main_gridl">
                  <input class="date" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
                </div>
                <div class="agileits_w3layouts_main_gridr">
                  <input type="time" name="Time" placeholder=" " required="">
                </div>
                  <div class="clear"> </div>
              </span>
            </div>
          <div class="content-w3ls">
            <div class="form-w3ls">
              <div class="content-wthree2">
                <div class="grid-w3layouts1">
                  <div class="w3-agile1">
                    <label>Choose video game(s):</label>
                    <ul>
                      <li>
                        <input type="radio" id="a-option" name="selector1">
                        <label for="a-option">#insert Game 1 </label>
                        <div class="check"></div>
                      </li>
                      <li>
                        <input type="radio" id="b-option" name="selector1">
                        <label for="b-option">#Insert Game 2</label>
                        <div class="check"><div class="inside"></div></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="form-w3ls-1">
              <div class="grid-w3layouts1">
                <div class="w3-agile1">
                  <label>Pick your location</label>
                    <ul>
                      <li>
                        <input type="radio" id="d-option" name="selector2">
                        <label for="d-option">#location</label>
                        <div class="check"></div>
                      </li>
                      <li>
                        <input type="radio" id="e-option" name="selector2">
                        <label for="e-option">#map</label>
                        <div class="check"><div class="inside"></div></div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="w3_main_grid">
            <div class="w3_main_grid_right">
              <input type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
    <!-- Calendar -->
      <link rel="stylesheet" href="css/jquery-ui.css" />
        <script src="js/jquery-ui.js"></script>
          <script>
            $(function() {
              $( "#datepicker" ).datepicker();
            });
          </script>
    <!-- //Calendar -->
      <div class="w3layouts_copy_right">
        <div class="container">
          <p>© 2018 Rever Inc. All rights reserved </p>
        </div>
      </div>
    </div>
  </div>
<!-- //footer -->
</body>
</html>
