

<div class="container">
  <h1>Find your party ;)</h1>
  <%= form_tag meetups_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a meetup"
    %>
  <% end %>
  <br>
  <div class="container">
    <div class="row">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
</div>







