<section class="xo-container">
  <div class="xo-left">
    <article>
      <h1>Host</h1>
      <!-- Button to trigger modal -->
      <html>
        <head>
          <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
          <link rel="stylesheet" type="text/css" media="screen"
           href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
        </head>
        <body>
          <div id="datetimepicker" class="input-append date">
            <input type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
          <script type="text/javascript"
           src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
          </script>
          <script type="text/javascript"
           src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
          </script>
          <script type="text/javascript"
           src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
          </script>
          <script type="text/javascript"
           src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
          </script>
          <script type="text/javascript">
            $('#datetimepicker').datetimepicker({
              format: 'dd/MM/yyyy hh:mm:ss',
              language: 'pt-BR'
            });
          </script>
        </body>
      <html>
  </div>
  <div class="xo-right">
    <article>
      <h1>Play</h1>
       <%= form_tag meetups_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a hangout near you"
        %>
      <% end %>
    </article>
  </div>
</section>



