.rever_button {
  background-color: #222222;
  color: #00FF00;
  border: 2px solid;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  padding-top: 1px;
  font-family: "razer";

  &:hover {
    background-color: #00FF00;
    color: #222222;
  }
}

a:hover {
  text-decoration: none !important;
}


.form-button {
    background-color: #222222;
    color: #00FF00;
    border: 2px solid;
    width: 365px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 7px;
    font-family: "razer";
}

.platform_button {
  background-color: #222222;
  color: #00FF00;
  border: 2px solid;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: "razer";

  &:hover {
    background-color: #00FF00;
    color: #222222;
  }
}
