// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans', sans-serif;
// clear-fix mixin
// @mixin cf {
//   &::before,
//   &::after {
//     content: '';
//     display: table;
//   }
//   &::after {
//     clear: both;
//   }
// }
// Base styles
// .con_margin {
//   padding-left: 25px;
// }

.button {
 display: block;
 width: 200px;
 margin: 2em auto 1em;
 text-align: center;
 font-size: 12px !important;
 color: $white;
 line-height: 1;
 position: relative;
 font-weight: 700;
}

.button4 {
  display: block;
  width: 200px;
  margin: 0;
  text-align: center;
  font-size: 18px !important;
  color: $white;
  line-height: 1;
  position: relative;
  font-weight: 700;
}


.hoster4 {
  display: block;
  width: 200px;
  text-align: center;
  font-size: 14px !important;
  color: $white;
  line-height: 1;
  position: relative;
  font-weight: 700;
  margin: 0 0 0 0;
}

.avatar4 {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: #00FF00 2px solid;
  margin: 0 0 0 0;
}


.data {
 color: $white;
 transform: translateY(calc(70px + 4em));
 background-color: #333333b3;
}

.title {
   a {
     color: $white;
     font-size: 15px;
     text-decoration: none;
     justify-content: center;
   }

   & > div {
     display: flex;
   }
 }

.card-attendees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(61, 61, 61, 1);
  border-radius: 2px;
  padding: 10px 15px;
  margin-top: 10px;
}

.card-attendees-picture {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 20%;
  * {
    margin: 0 !important;
  }

  p {
    padding-left: 20px;
    font-size: 22px;
  }
}

.card-attendees-status {
  flex: 0 0 30%;
}

 // float: left;
 // padding: 0 1.7rem;
 // width: 30%;
 // .menu-content {
 //   @include cf;
 //   margin: 0;
 //   padding: 0;
 //   list-style-type: none;
 //   li {
 //     display: inline-block;
 //   }
 //   a {
 //     color: $white;
 //   }
 //   span {
 //     position: absolute;
 //     left: 50%;
 //     top: 0;
 //     font-size: 10px;
 //     font-weight: 700;
 //     font-family: 'Open Sans';
 //     transform: translate(-50%, 0);
 //   }
 // }

.card-margin {
  margin: 10px;
  margin-bottom: 0px;
}

 .wrapper {
   min-height: 167px;
   position: relative;
   border: 5px solid #575757;
   border-radius: 2px;
   width: 100%;
   // border-width: 5px;
   // left: -140px;
   overflow: hidden;
   margin-bottom: -20px;
   // box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
   &:hover {
     .data {
       transform: translateY(0);
       color: rgba(255, 255, 255, 1);

     }
   }
 }
 .data {
   height: 138px;
   position: absolute;
   bottom: 0px;
   width: 100%;
   transform: translateY(calc(70px + 1em));
   transition: transform 0.3s;
   .content {
     padding-bottom: 3em;
     position: relative;
     z-index: 1;
   }
 }
 .author {
   font-size: 12px;
 }
 .title {
   margin-top: 10px;
 }


// // Second example styles
// .example-2 {
//   .wrapper {
//     &:hover {
//       .menu-content {
//         span {
//           transform: translate(-50%, -10px);
//           opacity: 1;
//         }
//       }
//     }
//   }
//   // .header {
//   //   @include cf;
//   //   color: $white;
//   //   padding: 1em;
//   //   .date {
//   //     float: left;
//   //     font-size: 12px;
//   //   }
//   // }
//   .menu-content {
//     float: right;
//     li {
//       margin: 0 5px;
//       position: relative;
//     }
//     span {
//       transition: all 0.3s;
//       opacity: 0;
//     }
//   }


//     &::after {
//       content: '\2192';
//       opacity: 0;
//       position: absolute;
//       right: 0;
//       top: 50%;
//       transform: translate(0, -50%);
//       transition: all 0.3s;
//     }
//     &:hover {
//       &::after {
//         transform: translate(5px, -50%);
//         opacity: 1;
//       }
//     }
//   }
// }





























// // Variables
// $regal-blue: #034378;
// $san-juan: #2d4e68;
// $bermuda: #77d7b9;
// $white: #fff;
// $black: #000;
// $open-sans: 'Open Sans', sans-serif;
// // clear-fix mixin
// // @mixin cf {
// //   &::before,
// //   &::after {
// //     content: '';
// //     display: table;
// //   }
// //   &::after {
// //     clear: both;
// //   }
// // }
// // Base styles

// .button {
//   display: block;
//   width: 100px;
//   margin: 2em auto 1em;
//   text-align: center;
//   font-size: 12px !important;
//   color: $white;
//   line-height: 1;
//   position: relative;
//   font-weight: 700;
// }

// .data {
//   color: $white;
//   transform: translateY(calc(70px + 4em));
//   background-color: #333333b3;
// }

// .title {
//     a {
//       color: $white;
//       font-size: 15px;
//       text-decoration: none;
//       justify-content: center;
//     }
//   }

// .card {
//   // float: left;
//   // padding: 0 1.7rem;
//   // width: 30%;
//   // .menu-content {
//   //   @include cf;
//   //   margin: 0;
//   //   padding: 0;
//   //   list-style-type: none;
//   //   li {
//   //     display: inline-block;
//   //   }
//   //   a {
//   //     color: $white;
//   //   }
//   //   span {
//   //     position: absolute;
//   //     left: 50%;
//   //     top: 0;
//   //     font-size: 10px;
//   //     font-weight: 700;
//   //     font-family: 'Open Sans';
//   //     transform: translate(-50%, 0);
//   //   }
//   // }
//   margin: 1em 0;
//   .wrapper {
//     min-height: 167px;
//     position: relative;
//     border: 5px solid #575757;
//     border-radius: 2px;
//     // border-width: 5px;
//     // left: -140px;
//     overflow: hidden;
//     // box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
//     &:hover {
//       .data {
//         transform: translateY(0);
//         color: rgba(255, 255, 255, 1);
//       }
//     }
//   }
//   .data {
//     position: absolute;
//     bottom: 0;
//     width: 312px;
//     transform: translateY(calc(70px + 1em));
//     transition: transform 0.3s;
//     .content {
//       padding-bottom: 3em;
//       position: relative;
//       z-index: 1;
//     }
//   }
//   .author {
//     font-size: 12px;
//   }
//   .title {
//     margin-top: 10px;
//   }
// }

// // // Second example styles
// // .example-2 {
// //   .wrapper {
// //     &:hover {
// //       .menu-content {
// //         span {
// //           transform: translate(-50%, -10px);
// //           opacity: 1;
// //         }
// //       }
// //     }
// //   }
// //   // .header {
// //   //   @include cf;
// //   //   color: $white;
// //   //   padding: 1em;
// //   //   .date {
// //   //     float: left;
// //   //     font-size: 12px;
// //   //   }
// //   // }
// //   .menu-content {
// //     float: right;
// //     li {
// //       margin: 0 5px;
// //       position: relative;
// //     }
// //     span {
// //       transition: all 0.3s;
// //       opacity: 0;
// //     }
// //   }


// //     &::after {
// //       content: '\2192';
// //       opacity: 0;
// //       position: absolute;
// //       right: 0;
// //       top: 50%;
// //       transform: translate(0, -50%);
// //       transition: all 0.3s;
// //     }
// //     &:hover {
// //       &::after {
// //         transform: translate(5px, -50%);
// //         opacity: 1;
// //       }
// //     }
// //   }
// // }
