.datepicker table tr td.active, .datepicker table tr td.active:hover {
    background-color:  #00FF00 !important;
    background-image:none !important;

  }

.dropdown-menu {

    background-color: black;
    border: 1px solid white;
    color: white;
}
