.map-details {
height: 600px;
// padding-right: 25px;
border: solid white;
margin-top: 26px;

}

// .map-details-padding {
// padding-right: 35px;

// }

.map-details-show {
  height: 469px;
  width: 595px;
  border: solid white;
}
