.h-2 {
  height: 2em;
}
.event-detail {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: flex-start;
  img {
    width: 200px;
    padding: 10px;
  }
  h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
