.flex-container {
  display: flex;
}

.flex-container-left {
  padding-right: 50px;
  padding-top: 40px;
  flex: 1 1 60%;
  h2 {
    margin-top: 0;
  }
}

.flex-container-right {
  padding-top: 40px;
  flex: 1 1 40%;
}

.event-icons {
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  h4 {
    &:hover {
      color: $green;
    }
  }

  img {
    width: 60px;
    padding-right: 30px;
  }
}
