.flex-container {
  display: flex;
}

.flex-container-left {
  padding-right: 50px;
  padding-top: 40px;
  flex: 1 1 60%;
  h2 {
    margin-top: 0;
  }
}

.flex-container-right {
  padding-top: 40px;
  flex: 1 1 40%;
}

.event-icons {
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h4 {
    font-size: 16px;
    &:hover {
      color: white;
    }
  }

  img {
    width: 35px;
    height: 35px;
    padding-right: 10px;
  }
}


.event-host {
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h4 {
    font-size: 16px;
    &:hover {
      color: white;
    }
  }

  img {
    margin-right: 10px;
  }
}

.flex-container-right-header{
  margin-bottom: 100px;
  margin-top: 40px;
}

.bottom_nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    border-top: solid 1px white;
    .bottom-nav-content{
      display: flex;
      padding-right: 20px;
      h2{
        padding-left: 0px;
        margin: 0;
        text-decoration: underline #00FF00;
      }
    }
    .rever_button{
      background-color: #222222;
      color: #00FF00;
      border: 2px solid;
      width: 150px;
      height: 50px;
      text-align: center;
      font-size: 20px;
      padding-top: 7px;
      font-family: "razer";
    }
}
