.top-flex {
  display: flex;
  color: #3D9970;
  justify-content: center;
  border: green;
}

.left-card-flex{
  width: 50%;
}

.right-card-flex {
  width: 50%;
}

.bottom-box {
  background-color: #3D9970;
}
