.profile-header {
  font-weight: bold;
  font-family: razer;
  color: white;
  align-text: center;
  margin-bottom: 40px;

}

// .profilecards-container {
//   width: 120%;
//   alight-tems: center;
// }

.profile-wrapper {
  border: white;
}

.profile-text {
  color: white;
  font: 12px;
  padding-bottom: 100px;
}

.meetup-card {
  background-color: #48474F;
  margin: 2px 2px 30px 2px;
  &:hover {
    margin: 0px 0px 28px 0px;
    border: 2px #00FF00 solid;
  }
}

.top-flex {
  position: relative;
  color: #3D9970;
  height: 170px;
  background-color: #48474F;
}

.left-card-flex{
  border: solid 1px #00FF00;
  color: #00FF00;
  background-color: black;
  height: 150px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: 10px;
  left: 10px;
  width: 150px;
  h1 {
    margin-top: -16px;
    border-bottom: solid 2px #01FF70;
    margin-bottom: 0px;
    font-size: 90px;
  }
  h2 {
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 57px;
  }
  text-align: center;
}

.right-card-flex {
  background-color: #48474F;
  position: absolute;
  top: 5px;
  right: 5px;
  width: calc(100% - 180px);
}

.middle-box {
  background-color: #48474F;
  padding-left: 15px;

  span {
    font-size: 26px;
    letter-spacing: 1px;

  }
}

.bottom-box {
  padding: 10px 0px;
  margin-top: 18px;


  h2 {
    font-weight: bold;
    font-family: titillium;
    margin: 0;
  }
}

.bottom-box-host {
  background-color: #00FF00;
  text-align: center;
  font-size: 14px;

  h2 {
    color: black;
  }
}

.bottom-box-guest {
  background-color: #525252;
  text-align: center;
}

.bottom-box-text {
  font-size: 24px;
}
.meetup-time {
  color: white;
  font: 12px;
}

.meetup-location {
  color: white;
  font: 12px;
}

.meetup-title {
  color: white;
  font-size: 34px;
  font-weight: bold;
}

.meetup-time2 {
  color: #00FF00;
}

.meetup-time3 {
  color: #00FF00;
}

.meetup-general {
  font-family: razer;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;

}

.meetup-general2 {
  font-family: titillium;
  font-size: 18px;
  font-weight: normal;
  color: #00FF00;
}

.meetup-general3 {
  font-family: titillium;
  font-size: 28px;
  font-weight: bold;
  color: #00FF00;
  letter-spacing: 0.7px;

}


.left-flex-for-show-page {

    border: solid 1px #00FF00;
    color: #00FF00;
    background-color: black;
    height: 150px;
    position: absolute;
    padding-left: 7px;
    padding-right: 9px;
    top: 5px;
    left: 0px;
    width: 150px;
    text-align: center;
     h1 {
    margin-top: -16px;
    border-bottom: solid 2px #01FF70;
    margin-bottom: 0px;
    font-size: 90px;
  }
  h2 {
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 57px;
  }
  text-align: center;
}

.top-flex-for-show-page {
   position: relative;
  // color: #3D9970;
  height: 170px;
  // background-color: #48474F;
}
