body, h1 {
  margin: 0;
  font-family: 'helvetica';
}

.container-layout {
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;

}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
}

.contentright {
  text-align: center;
}

.contentleft {
  text-align: center;
}

#right {
  color: white;
  transition: all 1s ease-in-out;
}

#left {
  color: white;
  transition: all 1s ease-in-out;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}
