body, h1 {
  margin: 0;
  font-family: 'helvetica';
}

.container-layout {
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;

}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
}

.contentright {
  text-align: center;
}

.contentleft {
  text-align: center;
}

#right {
  color: white;
  background-color:blue;
  transition: all 1s ease-in-out;
  background: url('https://i.amz.mshcdn.com/tFd4DH3Xeau73DbNfwD9WE7jAhs=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F812513%2F0d0fa3b6-7dce-4887-afd6-fef92aa8fe7f.jpg');
   -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#left {
  color: white;
  transition: all 1s ease-in-out;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}
