html, body, section {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.xo-container {
  display: flex;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.xo-left {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 225, 0.10)), url(../images/city.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all .2s ease-in-out;
}
.xo-right {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.10)), url(../images/country.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all .2s ease-in-out;
}

.xo-left:hover, .xo-right:hover {
  transform: scale(0.95);
}

.xo-left h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 6rem;
}
.xo-right h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6rem;
}
.xo-button {
  border-radius: 30px;
  color: #ffff;
  background-color: #fcad26;
  padding: 1.5%;
  margin: 0 2%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 150px;
}
.xo-button:hover {
  background: #fcc567;
  color: #fff;
}


// #right {
//   color: white;
//   transition: all 1s ease-in-out;
//   background: url('https://i.amz.mshcdn.com/tFd4DH3Xeau73DbNfwD9WE7jAhs=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F812513%2F0d0fa3b6-7dce-4887-afd6-fef92aa8fe7f.jpg');
//   background-size: cover;
//   flex-basis: 50%;
// }

// #left {
//   transition: all 1s ease-in-out;
//   flex-basis: 25%;
//   background-color: white;
// }

// .flex-grow-1 {
//   flex-grow: 1;
// }

// // .flex-grow-0 {
// //   flex-grow: 0;
// // }

