.block2 {
  background-color: gray;
  height: 100px;
}

.live-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: gray;
}


.video-1 {
  height: 100px;
  flex: 1 1 100px;
  background-color: white;
}

.video-2 {
  height: 100px;
  flex: 1 1 100px;
  background-color: white;
}

.video-3 {
  height: 100px;
  flex: 1 1 100px;
  background-color: white;
}

.video-4 {
  height: 100px;
  flex: 1 1 100px;
  background-color: white;
}
