.block2 {
  background-color: white;
  height: 100px;
}

.live-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.video-1 {
  height: 50px;
  flex: 1 1 100px;
  background-color: white;
}

.video-2 {
  height: 50px;
  flex: 1 1 100px;
  background-color: white;
}

.video3 {
  height: 50px;
  flex: 1 1 100px;
  background-color: white;
}

.video4 {
  height: 50px;
  flex: 1 1 100px;
  background-color: white;
}
