.block2 {
  background-color: white;
  height: 100px;
}

.live-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.videos {
  height: 100px;
  flex: 1 1 200px;
  background-color: red;
}

.video1 {


}

.video2 {

}

.video3 {

}

.video4 {

}
